.navbar{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo p{
  font-size: 28px;
  font-weight: 200;
}
.nav-menue{
  display: flex;
  align-items:center;
  list-style: none;
  gap: 50px;
  color: #000;
  font-size: 18px;
}
.nav-menue li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 3px;
  
  
}

.nav-menue hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  height: 50px;
  /* width: 50px; */
  gap: 30px;
  padding-right: 50px;
}
.nav-login-cart button{
  width: 100px;
  height: 40px;
  outline: none;
  border:  1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size:20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
} 
.nav-login-cart button:active{
  background: rgb(183, 139, 146);
}
.nav-cart-count{
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}