.newcollections{
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.newcollections h1{
  color: #171717;
  font-size: 40px;
  font-weight: 600;
}
.newcollections hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
  background: linear-gradient(180deg,#e1ffea22,#4ffdae 60%);
}