.loginsignup{
  width: 100%;
  height: 100vh;
  /* background-color: #fce3fe; */
  background: linear-gradient(180deg,#4ffdae ,#e1ffea22 60%);
  padding: 50px;

}
.loginsignup-container{
  height: 600px;
  width: 500px;
  background: white;
  margin: auto;
  padding: 40px 60px;
  border: 1px solid black;
  /* padding-bottom: 100px; */
}
.loginsignup-container h1{
  margin: 20px 0px;
}
.loginsignup-fields{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  /* font-size: 20px;
  font-weight: 500; */
}
.loginsignup-fields input{
  height: 70px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.loginsignup-login{
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500px;
}
.loginsignup-login span{
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree{
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color:#5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginsignup-agree input{
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}
.loginsignup-container button{
width: 400px;
height: 40px;
color: white;
background-color: #ff4141;
margin-top: 10px;
border: none;
font-size: 20px;
font-weight: 500;
cursor: pointer;
}